.header {
  text-align: center;
  color:rgb(43, 41, 41);
}
.cont{
  margin-top: 40px;
  background-color: #b2dfdb;
  padding: 40px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px;
}
h1, h3{
  color: #3f51b5;
}
